:root {
  --variable-collection-color: rgba(232, 217, 197, 1);
  --variable-collection-color-2: rgba(192, 119, 80, 1);
  --variable-collection-color-3: rgba(43, 27, 18, 1);
}




:root {
  --variable-collection-color: rgba(232, 217, 197, 1);
  --variable-collection-color-2: rgba(192, 119, 80, 1);
  --variable-collection-color-3: rgba(43, 27, 18, 1);
}